page-contibutors {
    .main_color_body{background: #ae0433;}
    ion-item.ionic_style_item{border-radius: 6px;}
    ion-avatar.image_section{margin: 5px 12px 5px -10px !important;}
    ion-avatar.image_section img{width: 70px; height: 70px;}
    ion-icon{font-size: 30px; color:#ae0433!important;}
    ion-label.label.label-md h2{color:#ae0433; margin-top: 0.7rem; font-size:1.4rem }
    ion-label.label.label-md p{font-size:1rem }
    p.title {color: #fff; font-weight: normal; text-align: center;}
    ion-list.ionic_list_style{margin: 0px 0 11px!important;}
}